<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Car Name</th>
            <th>Customer Name</th>
            <th>Rent Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        <td *ngFor="let rental of rentals">{{rental.Id}}</td>
        <td *ngFor="let rental of rentals">{{rental.CarName}}</td>
        <td *ngFor="let rental of rentals">{{rental.CustomerName}}</td>
        <td *ngFor="let rental of rentals">{{rental.RentDate}}</td>
        <td *ngFor="let rental of rentals">{{rental.ReturnDate}}</td>
    </tbody>
</table>
