<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<!-- <table class="list-group list-group-horizontal-xxl" *ngIf="dataLoaded == true" class="table">
  <thead>
      <tr>
        <th>Image</th>
        <th>Id</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Color</th>
        <th>Model Year</th>
        <th>Daily Price</th>
        <th>Description</th>
      </tr> 
  </thead>
  <tbody >
    <tr (click)="setCarDetails(car)" routerLink= "/carImage/cardetails/{{car.carID}}"*ngFor="let car of cars" >
      <td><img  src="{{car.imagePath}}" alt="{{car.carName}}"></td>
        <td>{{ car.carID }}</td>
        <td>{{ car.carName }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.dailyPrice }}</td>
        <td>{{ car.description }}</td>
      </tr>
  </tbody>
  
</table> -->

<div *ngIf="dataLoaded == true" class="">
  <div class="row col-md-12">
    <div  *ngFor="let car of cars" class="col-md-4 mb-4">
      <div  class="card">
        <img
          src="{{car.imagePath}}"
          class="card-img-top myimg"
          alt="{{ car.description }}"
        />
        <div class="card-body">
          <h4 class="card-title">{{ car.carName }}</h4>
          <p class="card-text"><b>Marka:</b> {{ car.brandName }}</p>
          <p class="card-text"><b>Renk:</b> {{ car.colorName }}</p>
          <p class="card-text"><b>Açıklama:</b> {{ car.description }}</p>
          <p class="card-text">
            <b>Günlük Fiyat:</b> {{ car.dailyPrice | currency:"₺" }} <br />
          </p>
          <button routerLink= "/carImage/cardetails/{{car.carID}}" (click)="setCarDetails(car)" class="btn btn-success float-end ms-2">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
